$primary: #78b660
$fontColor: #363636
  
html 
  box-sizing: border-box
  margin: 0
  padding: 0


*,
*::before,
*::after 
  box-sizing: inherit


body
  margin: 0
  background-color: #fff
  color: $fontColor
  background: url('../img/flower.svg') no-repeat top -400px right -600px / 800px,  url('../img/flower.svg') no-repeat bottom -500px left -550px / 800px

.container
  max-width: 1139px
  margin: auto

.main
  height: 100%
  min-height: 100vh
  &__bg
    height: 327px
    width: 100%
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%)
    opacity: 0.05
    position: fixed
    z-index: -1

.header
  padding-top: 30px
  display: flex
  justify-content: space-between
  align-items: center
  span
    display: block
  &__logo
    &-img
      height: 52px
    &-text
      +thin
      font-size: 11px
      letter-spacing: 0.87px
      text-align: right
  &__nav
    width: 590px
    list-style: none
    display: flex
    justify-content: space-between
    &-select
      list-style: none
      display: none
      &-second
        list-style: none
        display: none
    &-link
      color: $fontColor
      text-decoration: none
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.42px
      +thin
      span
        color: $primary
        display: inline
        font-size: 10px
    .li-main
      &:nth-child(2)
        border-bottom: 2px solid $primary
      &:hover .header__nav-select
        display: block
        position: absolute
        background:#d7e9ce
        opacity: 0.9    
        width: 250px
        height: 215px
        padding: 20px 40px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: start
        div
          margin-left: -40px
          width: 250px
          cursor: pointer
        .li-first
          padding-left: 20px
          color: #000
          +roman
          font-size: 14px
          font-weight: 300
          line-height: 26px
          width: 100%
          &:hover .header__nav-select-second
            display: block
            position: absolute
            background-color: #f2f2f2
            margin-top: -72px
            margin-left: 230px
            opacity: 0.9
            padding: 15px 40px
            width: 250px
            height: 215px
            div
              margin-left: -20px
              width: 250px
              cursor: pointer
            .li-second a
              +thin
              font-size: 12px
              font-weight: 300
              line-height: 26px
              &:hover
                border-bottom: 2px solid $primary
          &:hover
            background: url('../img/arrow-right.png') no-repeat center right 20px, #f2f2f2
          
        
  &__contacts
    &-text
      +roman
      font-size: 14px
      text-align: right
    &-phone
      +thin
      font-size: 18px
      line-height: 24px

.content
  height: 100vh
  &__slider
    margin-top: 50px
    height: 729px
    &-info
      position: absolute
      margin-top: 80px
      margin-left: 65px
      display: flex
      justify-content: space-between
      width: 430px
      &-brace
        height: 120px
        &:nth-last-child(1)
          transform: rotate(180deg)
      &-title
        font-size: 30px
        font-weight: 700
        +black
        display: block
        margin-bottom: 20px
      &-subtitle        
        display: flex
        +thin
        font-size: 23px;
        font-weight: 400;
        span
          margin-left: 25px
          color: $primary
          +bold
          font-size: 50px
          font-weight: 700
    &-item
      height: 100%
      background: url('../img/girl.png') no-repeat right top / 450px, url('../img/flower.png') no-repeat left bottom / 700px
      overflow: visible
      display: none
      &-active
        display: block
    &-dots
      display: inline
      position: absolute
      margin-left: 130px
      margin-top: 420px
      .dot
        height: 14px
        width: 14px
        margin: 0 8px
        border-radius: 50%
        background-color: #363636
        opacity: 0.1
        display: inline-block
        &:hover
          background-color: $primary
          opacity: 1
        &-active
          background-color: $primary
          opacity: 1
  &__text
    text-align: center
    position: relative
    bottom: 200px
    padding: 0 50px
    +thin
    &-title
      font-size: 30px
      font-weight: 400
      line-height: 26px
    &-subtitle
      font-size: 14px
      font-weight: 400
      line-height: 26px